@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 14px;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
    display: block;
}

address, em {
    font-style: normal;
}

fieldset, img {
    border: 0 none;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    word-break: keep-all;
}

ol, ul, li {
    list-style: none;
    overflow: hidden;
}

* {
    font-family: 'NotoSansKR';
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    font-size: 14px;
    background-color: #f5f5f5;
    color: #333;
    height: 100%;
}

a {
    color: #333;
    text-decoration: none;
}

a.underline {
    text-decoration: underline;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

input[type=text], input[type=button], input[type=password], input[type=number], input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

/* IE 10, 11의 네이티브 화살표 숨기기 */
/*select::-ms-expand { display: none; }*/
input, select {
    vertical-align: middle;
    border: 1px solid #ddd;
    box-sizing: border-box;
    color: #616161;
    background: #fff;
}

select {
    padding-left: 5px;
    height: 35px;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-sizing: border-box;
    outline: none;
}

input[type=text], input[type=password], input[type=number], input[type=file] {
    padding-left: 5px;
    height: 35px;
}

input[type=button], input[type=submit] {
    cursor: pointer;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

i {
    vertical-align: middle;
}

.offscreen {
    position: absolute;
    top: -1000px;
    left: -9999px;
    z-index: -9999;
}

input::placeholder {
    color: #9d9d9d;
}

.default-blue {
    color: #0068b7;
}

.dis-n {
    display: none;
}

.dis-i {
    display: inline;
}

.dis-b {
    display: block;
}

.v-mid {
    vertical-align: middle;
}

.wp100 {
    width: 100%;
}

.btn {
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    font-size: 15px;
}

.search_btn {
    text-align: center;
    border: 1px solid #0068b7;
    background: #fff;
    text-indent: 20px;
    font-size: 16px;
    color: #0064c1;
    font-weight: 600;
    width: 120px;
    height: 40px;
    line-height: 38px;
    background-image: url("/resources/image/icons/ico_search-b.png");
    background-position: 25px 9px;
    background-repeat: no-repeat;
    background-size: 23px;
}

.btn-details {
    vertical-align: middle;
    border: 1px solid #ddd;
    background: #fff;
    padding-left: 8px;
    float: right;
    width: auto;
    height: 35px;
    line-height: 33px;
    font-size: 14px;
    color: #0068b7;
    font-weight: 600;
}

.maxwrap {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
}

.input-group {
    position: relative;
}

.input-group.select input {
    padding-right: 45px;
}

.input-group.select .select-input {
    width: 80%;
}

@media screen and (max-width: 425px) {
    .input-group.select .select-input {
        width: 100%;
    }
    .input-group.select select {
        height: 28px;
    }
}

.input-group.select .input-group-clear {
    right: 30px;
}

.input-group.select select {
    width: 22px;
    position: absolute;
    top: 0;
    right: 0;
    border-left: none;
    padding-left: 0;
}

.input-group.select.inputSelect-box-plus {
    display: inline-block;
    width: 150px;
}

@media screen and (max-width: 425px) {
    .input-group.select.inputSelect-box-plus {
        width: 100%;
    }
}

.btn-area {
    text-align: center;
    margin: 20px 0;
}

.btn-area.right {
    text-align: right;
}

.btn-area.left {
    text-align: left;
}

.table-top {
    display: flex;
    height: 65px;
    line-height: 65px;
    align-items: center;
    justify-content: space-between;
}

.table-top.table-top_pop {
    display: flex;
    line-height: inherit;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-bottom: 10px;
}

.table-top.table-top_pop .total {
    padding: 0px;
    white-space: nowrap;
}

@media screen and (max-width: 425px) {
    .table-top {
        display: initial;
    }
}

.table-top .total {
    /*padding:20px 0;*/
    /*display: inline-block;*/
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.table-top .total .cnt {
    font-weight: 900;
}

@media screen and (max-width: 425px) {
    .table-top .total {
        padding: 0;
        line-height: 160%;
    }
}

@media screen and (max-width: 1024px) {
    .table-top {
        line-height: inherit;
    }

    .table-top .total {
        font-size: 15px;
        padding: 10px 0;
    }
}

@media screen and (max-width: 768px) {
    .table-top .total {
        display: block;
        text-align: center;
    }
}

.table-btn {
    float: right;
    /*margin-top:5px;*/
}

@media screen and (max-width: 1024px) {
    .table-btn {
        margin-top: 0;
    }
}

@media screen and (max-width: 768px) {
    .table-btn {
        margin-top: 0;
        float: none;
        text-align: right;
    }
}

@media screen and (max-width: 425px) {
    .table-btn {
        margin-bottom: 10px;
    }
}

.ui-datepicker-prev.ui-corner-all, .ui-datepicker-next.ui-corner-all {
    top: 0px !important;
}

.ui-datepicker-title {
    line-height: 0px !important;
}

.sub-contents-wrap {
    padding: 40px 30px 100px;
    background: #fff;
}

@media screen and (max-width: 1024px) {
    .sub-contents-wrap {
        padding: 20px 10px 50px;
    }
}

.sub-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.sub-title__h1 {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 24px;
    font-weight: 600;
}

@media screen and (max-width: 1024px) {
    .sub-title__h1 {
        font-size: 18px;
    }
}

.sub-title__h1 img {
    margin-left: 5px;
}

.location__ul {
    float: right;
    font-size: 13px;
    color: #555;
    height: 28px;
    line-height: 28px;
}

.location__ul li {
    float: left;
    padding-left: 20px;
    background-image: url("/resources/image/icons/ico_arrow_right_gray.png");
    background-position: 5px 8px;
    background-repeat: no-repeat;
    background-size: initial;
}

.location__ul li:first-child {
    width: 20px;
    height: 28px;
    background-image: url("/resources/image/icons/ico_home.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
}

@media screen and (max-width: 768px) {
    .location__ul {
        display: none;
    }
}

.search-form {
    margin: 30px 0 10px;
    border: 1px solid #ddd;
    padding: 25px;
    position: relative;
}

.search-form label {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    vertical-align: middle;
    height: 35px;
    line-height: 35px;
    /*margin-top:10px;*/
    font-size: 15px;
    font-weight: 600;
}

.search-form label:before {
    content: "";
    display: inline-block;
    background: #333;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 3px;
    height: 3px;
}

@media screen and (max-width: 1024px) {
    .search-form {
        margin: 20px 0 10px;
        padding: 20px;
    }
}

.search-form-title {
    font-size: 20px;
    color: #0068b7;
    font-weight: 600;
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .search-form-title {
        font-size: 16px;
        margin-bottom: 15px;
    }
}

.search-form-major label {
    width: 142px;
}

@media screen and (max-width: 1024px) {
    .search-form-major label {
        font-size: 13px;
        margin-top: 0;
        margin-bottom: 5px;
    }

    .search-form-major .date-wrap {
        margin-top: -40px;
        margin-left: 70px;
    }

    .search-form-major .date-wrap .fst {
        width: 47%;
        float: left;
    }

    .search-form-major .date-wrap .last {
        width: 47%;
        float: right;
    }

    .search-form-major .date-wrap .unit {
        width: 6%;
        text-align: center;
        margin-top: 8px;
    }

    .search-form-major .btn {
        margin-top: 5px;
        width: 100%;
        float: none;
    }
}

.search-form-details {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media screen and (max-width: 425px) {
    .search-form-details {
        margin-bottom: 0px;
    }
}

.search-form-details label {
    display: inline-block;
    width: 45%;
    float: left;
}

.search-form-details li {
    width: 32%;
    float: left;
    margin-right: 2%;
    margin-bottom: 6px;
}

.search-form-details li:nth-child(3n) {
    margin-right: 0;
}

.search-form-details li.colspan2 {
    width: 64%;
}

.search-form-details li.colspan2 label {
    width: 20%;
}

.search-form-details li.colspan2 .input-group {
    width: 80%;
}

.search-form-details .input-group {
    width: 55%;
    float: left;
}

@media screen and (max-width: 425px) {
    .search-form-details .input-group {
        padding-left: inherit !important;
    }
}

@media screen and (max-width: 1024px) {
    .search-form-details label {
        position: absolute;
        left: 0;
        font-size: 13px;
    }

    .search-form-details li {
        width: 100%;
        float: none;
        margin-right: 0;
        position: relative;
    }

    .search-form-details .input-group {
        width: 100%;
        padding-left: 120px;
    }
}

@media screen and (max-width: 425px) {
    .search-form-details .input-group .select {
        padding-left: 0px !important;
    }
}

input[type="text"].readonly {
    background: #f5f5f5;
}

@media screen and (max-width: 1024px) {
    html .overflow-h, body .overflow-h {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: fixed;
    }
}

.list-table {
    border-top: 2px solid #0068b7;
}

.list-table th {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    height: 20px;
    background: #f2f2f2;
    font-size: 12px;
    font-weight: 600;
}

.list-table td {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    height: 45px;
    word-break: break-all;
    font-size: 12px;
}

.list-table td.left {
    text-align: left;
}

.list-table input[type=text], .list-table select {
    height: 30px;
}

.list-table tfoot td {
    background: #eee;
    font-weight: 600;
}

@media screen and (max-width: 425px) {
    /*.list-table th {*/
    /*  padding: 10px 5px;*/
    /*}*/
    .list-table th {
        padding: 10px 11px;
    }

    .list-table td {
        padding: 10px 5px;
    }
}

.que-dis-mn {
    cursor: pointer;
}

.app-dis-n {
    cursor: pointer;
}

.up-btn {
    position: fixed;
    left: 15px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    /*background: url("/resources/image/icons/ico-top.png");*/
    background-size: cover;
    /*border-radius: 5px;*/
    /*box-shadow: 3px 3px 10px 1px #ddd;*/
}

.ui-datepicker .ui-datepicker-title select {
    margin: 1px 7px;
}

.agreement_container button {
    font-size: 12px;
    line-height: 15px;
    width: 80px;
}

.common_btn {
    border: 1px solid #0068b7;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    color: #0064c1;
    font-weight: 600;
    width: 120px;
    height: 40px;
    line-height: 38px;
}
.agreement_container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
}

/*.agreement_container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin: 20px 0px;*/
/*    font-size: 12px;*/
/*}*/

@media screen and (min-width: 280px) and (max-width: 1024px) {
    .search-form-major label {
        width: initial;
        margin-bottom: 8px;
    }
}

.ui-datepicker-trigger {
    display: none;
}

@media screen and (min-width: 280px) and (max-width: 1980px) {
    .sub-title {
        padding-bottom: initial;
        border-bottom: initial;
    }

    .search-form {
        margin: 15px 0 10px;
    }

    .table-btn {
        text-align: center;
        float: none;
    }
}

.wp70 {
    width: 70%;
}

.wp90 {
    width: 90%;
}

@media screen and (max-width: 1024px) {
    .search-form-details label {
        position: absolute;
        left: 0;
        font-size: 13px;
        width: 35%;
    }

    .search-form-details li {
        width: 100%;
        float: none;
        margin-right: 0;
        position: relative;
        padding-bottom: 10px;
    }

    .search-form-details .input-group {
        width: 100%;
        padding-left: 120px;
    }
}

.ui-datepicker select.ui-datepicker-month {
    width: 35%;
    font-size: 11px;
    margin-left: 5%;
    height: 20px
}

.ui-datepicker select.ui-datepicker-year {
    width: 35%;
    font-size: 11px;
    height: 20px
}

.list-table th.center {
    text-align: center;
}

@media screen and (max-width: 280px) {
    .search-form-major .date-wrap {
        margin-top: initial;
        margin-left: initial;
    }

    .list-table {
        table-layout: initial;
    }

    .list-table td {
        padding: 10px 1px;
    }

    .btnWraaper {
        display: inline-flex;
        margin: 0 5px;
        gap: 0 5px;
    }
}

@media screen and (max-width: 425px) {
    .list-table th {
        padding: 10px 0;
    }

    .table-btn {
        width: 60%;
    }

    .list-table th:nth-child(1),
    .list-table th:nth-child(5),
    .list-table th:nth-child(7),
    .list-table th:nth-child(9){
      width: 30px;
    }

    .list-table th:nth-child(2),
    .list-table th:nth-child(3),
    .list-table th:nth-child(4){
      width: 42px;
    }
}

@media screen and (max-width: 320px){
    .th_header {
      overflow-wrap: anywhere;
    }
}

@media screen and (max-width: 280px) {
    .list-table th {
        padding: 1px 10px;
    }

    .btn {
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 1024px) {
    .search-form-major .date-wrap .unit {
        margin-top: 5px;
        margin-left: -1px;
    }

    .search-form-major .date-wrap .fst {
        font-size: 13px;
    }

    .search-form-major .date-wrap .last {
        font-size: 13px;
    }

    #start-date {
        font-size: 13px;
    }

    #end-date {
        font-size: 13px;
    }
}

.unit {
    width: 6%;
    text-align: center;
    margin-top: 8px;
}

#start-date {
    width: 47%;
    float: left;
}

#end-date {
    width: 47%;
    float: right;
}

.red-line-divider {
    border-top: 2px solid red; /* 그룹 헤더 아래쪽 경계선 추가 */
    border-bottom: 1px solid #ddd;
}


@media (max-width: 320px) {
    .col {
        width: 265px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .conbox {
        width:265px;
    }

    .table_container table {
        word-break: inherit;
    }

    .agreement_container button{
        width:60px
    }
}

@media (min-width: 321px) and (max-width: 380px) {

    .agreement_container button{
        width:60px
    }

    .table_container table thead tr th {
        padding: 10px 8px;
    }
    .col {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .conbox {
        width: 90%;
    }

    .table_container table {
        word-break: inherit;
    }
}